form{
    width: 300px;
    margin: 20px auto;
}


input{
    margin: 10px;

}



body{
    background-color: rgb(255, 251, 200);
}form{
    width: 300px;
    margin: 20px auto;
}


input{
    margin: 10px;

}



body{
    background-color: rgb(255, 251, 200);
}

.city{


    width: 100px;
    margin: 20.5px auto;


}