h1{
    text-decoration: underline
}
.blue_class{
    color: blue;
}
.orange_class{
    color: rgb(252, 195, 40);
}
.red_class{
    
    color: rgb(255, 9, 9);

}
.marker{
    background-color: yellow;
}

h1{
    text-decoration: underline
}
.blue_class{
    color: blue;
}
.orange_class{
    color: rgb(252, 195, 40);
}
.red_class{
    
    color: rgb(255, 9, 9);

}
.marker{
    background-color: yellow;
}